<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cloudinary_url 'https://res.cloudinary.com/yowyowyow/image/upload/v1607874061/pexels-pixabay-414798_ab1sqc.jpg', resource_type: :raw; %>);">
</div>
