

  <section class="background">
    <div class="content-wrapper">
      <div><%= render 'shared/navbar' %></div>
      <p class="content-title blink">Jonathan Penca</p>
      <p class="content-subtitle"></p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title blink">Upcoming Events</p>
      <p class="content-subtitle">Solid Kats</p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Etiam consequat lectus.</p>
      <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p>
    </div>
  </section>

